.display-4
{
    top: 400%;
}
h3
{
    text-align: center;
}
.carousel-caption {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}
.little
{
    padding-bottom: 100%;
}
.carousel-caption h1 {
    top: 50%;
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.btn-primary {
    background-color: #6648b1;
    border: 1px solid #563d7c;
}

.btn-primary:hover {
    background-color: #563d7c;
    border: 1px solid #563d7c;
}